.menu {
    position: relative;
}

.profile {
  position: relative; 
  display: inline-block;
  cursor: pointer;
}

.profilemenu {
  position: absolute;
  top: 110%; 
  right: 0;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-10px); 
  transition: all 0.3s ease;    
  background: white;
  min-width: 160px;
  border-radius: 8px;
  overflow: hidden; 
  z-index: 100;
}

.profile:hover .profilemenu {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.pitem {
  display: flex;
  align-items: center;
  padding: 12px 16px;
  transition: background 0.2s;
  color: #333;
}

.pitem:hover {
  background-color: #90bae37e;
}

.pitem button {
  border: none;
  background: none;
  margin-left: 10px;
  font-weight: 500;
  cursor: pointer;
  color: inherit;
}

.blurOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(3px);
  z-index: 5;
}

#modal {
  position: fixed;
  z-index: 10;
}